name: Build Netcut CLI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22'

    - name: Download dependencies
      run: go mod tidy

    - name: Build Windows exe
      run: |
        GOOS=windows GOARCH=amd64 go build -ldflags="-s -w" -o netcut.exe main.go

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: netcut-windows
        path: netcut.exe
